body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #BFE9FF;
}


/* navigator header*/
nav {
    background-color: #FFC300;
    display:flex;
    justify-content: center;
}

#add-deck {
    position:absolute; 
    right:80px; 
    top:20px;
}


/*main display-screen showing question*/
#wrapper {
    display: block;
    text-align: center;
    margin: 50px;
}

#main__display-screen {
    display: flex;
    justify-content: center;
    border: 12px solid black;
    border-left: 0px;
    border-top: 0px;
    border-radius: 25px;
    height: 500px;
    width: 720px;
    background-color: #FFFFFF;
    margin: 40px auto;
}
#main__display-screen span {
    margin: auto;
}


#main__user-input {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px

}
#main__user-input--inputbar {
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 720px;

}
#main__user-input--inputbutton {
    border:none;
    border-radius: 0px 15px 15px 0px;
    width: 125px;

    background-color: #ffae00;

}
#main_user-input--inputbutton:hover{  /* not working don't know why */
    background-color: rgba(145, 182, 168, 0.11);
}